# Expo
.expo/
dist/
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# Temporary files
*.tmp
*.temp

# Environment variables
.env
.env.local

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# SQLite database files (optional - remove these lines if you want to include sample data)
*.db
*.sqlite
*.sqlite3

# iOS
ios/build/
ios/Pods/
ios/.xcode.env.local

# Android
android/build/
android/app/build/
android/.gradle/
android/gradle/
android/gradlew
android/gradlew.bat

# Metro
.metro-health-check*